// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import "//fonts.googleapis.com/css?family=Tangerine"
@import "//fonts.googleapis.com/css?family=Playball"
$logo_text_color: white
$main_color: rgba(46, 204, 113, 1)
$about_bg_color: rgba(255,255,255, .92)
$about_color: #2a2a2a

body
    background-color: #f9f9f9

nav 
    a
        color: #3b3c3f
/*=============================================================================
 ** Left side
 **============================================================================
.row
    padding: 1%
#right
    max-width: 55.6%
#left
    background-image: image-url('bakeryblur.jpg')
    position: fixed 
    top: 0
    bottom: 0
    height: 100%
    background-size: cover
    min-height: 768px
    max-width: 44.4%
    #logo
        font-family: 'Playball', cursive
        color: #ffffff
        background-color: rgba(46, 204, 113, .3)
        border-radius: 40px
        width: 70%
        
        span 
            display: inline-block
            &:first-child
                background-color: $main_color
                border-radius: 100px
                padding: .5% 4%
                font-size: 1rem
            h4 
                font-size: 1.2rem
    #welcome
        text-align: left
        margin-top: 3%
        font-family: 'freight-text-pro', georgia, serif
      
        .content-box
            border-radius: 4px
            color: $about_color 
            background-color: $about_bg_color
            padding: 2%
            .green
                margin-top: 1%
                background-color: transparent
                color: $about_color
                border-color: #F5A623
                &:hover
                    background-color: #F5A623
                    color: white
            .tangerine
                font-size: 3rem
                font-family: "Tangerine"
            
 

/*=============================================================================
 ** Right side
 **============================================================================
.menu
    margin: 0