// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
$logo_text_color: white
$main_color: rgba(46, 204, 113, 1)
$about_bg_color: white
$about_color: #3b3c3f

body
    background-color: #f9f9f9
nav 
    a
        color: #3b3c3f
/*=============================================================================
 ** Left side
 **============================================================================
.row
    padding: 2%
#left
    background-image: image-url('bakery.jpg')
    min-height: 768px
    position: fixed 
    height: 100%
    background-size: 100% 100%, cover
    #logo
        color: #ffffff
        background-color: rgba(46, 204, 113, .3)
        border-radius: 40px
        width: 50%
        
        span 
            display: inline-block
            &:first-child
                background-color: $main_color
                margin-right: 10%
                border-radius: 50px
                padding: 3%
            h4 
                font-size: 18px
    #welcome
        .content-box
            color: $about_color
            background-color: $about_bg_color
            padding: 2%
        p
 

/*=============================================================================
 ** Right side
 **============================================================================
.menu
    margin: 0