// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import "//fonts.googleapis.com/css?family=Tangerine"
@import "//fonts.googleapis.com/css?family=Playball"
$logo_text_color: white
$main_color: rgba(46, 204, 113, 1)
$about_bg_color: rgba(255,255,255, .92)
$about_color: #2a2a2a


/*=============================================================================
 ** Left side
 **============================================================================
.flash
    border: 1px solid
    border-radius: 7px
    margin: 1% 0
    padding: 1%
    width: 80%
    margin: auto
    &.info
        color: #00529B
        background-color: #BDE5F8
     
    &.success
        color: #4F8A10
        background-color: #DFF2BF
     
    &.warning
        color: #9F6000
        background-color: #FEEFB3
      
    &.error
        color: #D8000C
        background-color: #FFBABA
        


nav > ul > li
    border-bottom: 2px solid white
    &:hover
        background-color: white
        border-bottom: 2px solid darken(rgba(45,204,165,1), 10%)
        a
            color: darken(rgba(45,204,165,1), 5%)
            

               
.current
    border-bottom: 2px solid darken(rgba(45,204,165,1), 10%)
    background-color: white
    a
        color: darken(rgba(45,204,165,1), 5%)
    &:hover
        border-bottom: none     
        -webkit-transition: none
        -moz-transition: none
        transition: none
  
#left
    background-image: image-url('bakeryblur.jpg')
    position: fixed 
    top: 0
    height: 100%
    background-size: cover
    min-height: 768px
    max-width: 44.4%
    #logo
        font-family: 'Playball', cursive
        color: #ffffff
        background-color: rgba(46, 204, 113, .3)
        border-radius: 40px
        width: 70%
        margin-top: 1%
        
        span 
            display: inline-block
            &:first-child
                background-color: $main_color
                border-radius: 100px
                padding: 1% 5%
                font-size: 1rem
            h4 
                font-size: 1.2rem
    #welcome
        text-align: left
        margin-top: 3%
        font-family: 'freight-text-pro', georgia, serif
      
        .content-box
            border-radius: 4px
            color: $about_color 
            background-color: $about_bg_color
            padding: 2%
            #take-survey
                margin-top: 3%
                background-color: darken(rgba(45,204,165,1), 10%)
                color: white
                border-color: darken(rgba(45,204,165,1), 5%)
                &:hover
                    background-color: rgba(255,255,255, .60)
                    color: #27ae60
                    border: 1px solid  #27ae60
            .tangerine
                font-size: 3rem
                font-family: "Tangerine"
            
 

/*=============================================================================
 ** Right side
 **============================================================================
#right
    .row
        &:nth-child(even)
            background-color: white
    .start-content
        overflow: auto
        padding: 1%
    .menu
        margin: 0
        font-size: 1.2rem
        li
            text-align: center
    #about
        span
            font-family: "Tangerine"
            text-align: center
            font-size: 3rem
            color: #2a2a2a
            margin-left: 40%
        padding: 2%
        font-family: 'freight-text-pro', georgia, serif

/*=============================================================================
 ** Right side
 **============================================================================

body
    overflow-x: hidden
.parallax-ui
    height: 100vh
    overflow-x: hidden
    overflow-y: auto
    -webkit-perspective: 1px
    perspective: 1px
    .content
        margin-top: 350px
        padding: 2%
        background-color: white
    .layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        
    
    .front
        -webkit-transform: translateZ(0)
        transform: translateZ(0)
    
    .back
        margin-top: 95px
        width: 56.35%
        height: 45vh
        -webkit-transform: translateZ(-1px) scale(4.3,3)
        transform: translateZ(-1px) scale(4.3,3)

      
.paper
    background-color: white
    &:before, &:after
        z-index: -1
        position: absolute
        content: ""
        bottom: 15px
        left: 10px
        width: 50%
        max-width: 300px
        height: 10px
        background: rgba(0,0,0,0.7)
        -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.7)
        -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.7)
        box-shadow: 0 15px 10px rgba(0,0,0,0.7)
        -webkit-transform: rotate(-3deg)
        -moz-transform: rotate(-3deg)
        -o-transform: rotate(-3deg)
        -ms-transform: rotate(-3deg)
        transform: rotate(-3deg)
    &:after 
        -webkit-transform: rotate(3deg)
        -moz-transform: rotate(3deg)
        -o-transform: rotate(3deg)
        -ms-transform: rotate(3deg)
        transform: rotate(3deg)
        right: 10px
        left: auto