
//group buttons to look more attractive
body
    background-color: #f9f9f9
.control-panel
    .title
        padding-bottom: 9px
        margin: 40px 0 20px
        border-bottom: 1px solid #eee
        text-align: center
        color: #343434
        font-family: freight-text-pro, georgia, serif
    background-color: white
    width: 75%
    margin: auto
    padding: 2%
    border-radius: 7px
    overflow: auto
    a,input,select
        width: 90%
    .button-control
        width: 100%
        margin: 3% auto 2% auto
        >*
            margin-bottom: 1%
    
    .inline
        display: inline-block
        ul
            width: 100%
            li
                width: 40%
